/*Header*/
header
{
    background-image: url(images/head.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/*Main Heading*/
.header
{
    font-size: 45px;
    color: rgba(0, 0, 0, 0.527);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    padding-left: 40px;
    line-height: 0px; 
    margin-top: 100px;
}
.header1
{
    font-size: 40px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    padding-left:40px ;
}
/*Paragraph*/
p
{
    font-size: 40px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    line-height: 0px;
}
/*Navigation*/
nav
{
    background-color: rgba(0, 0, 0, 0.212);
    color: black;
    text-align: center;
    text-decoration: none;
    padding-bottom: 14px;
    padding-top: 14px;
}
a
{
    padding-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
/*Why to use*/
h2
{
    font-size: 50px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}
.tab
{
    font-size: 40px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    line-height: 0px;
}
.row
{
    flex: 33.3%;
    padding: 5px;
    text-align: center;
}
/*First page break- Images*/
.container2
{
    background-image: url(images/pics.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
}
h3
{
    font-size: 50px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
/*Fucking picture next to fucking text*/
.container3
{
    display: flex;
    padding-top: 100px;
    padding-left: 70px;    vertical-align: middle;
}
img
{
    vertical-align: middle;
}
span
{
    font-size: 40px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 100px;
    text-align: center;
    vertical-align: middle;
}
/*Products*/
.container4
{
    background-image: url(images/img_instax_mini_9_limited_teaser-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 100px;
}
/*New arrivals*/
.container5
{
    background-image: url(images/green\ new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    margin: 150px;
    text-align: left;
    
}
h4
{
    text-align: left;
    font-size: 50px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Contact form*/
input [type=text], select, textarea
{
    width: 100%;
    padding: 12px;
    border: 1px solid  #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]
{
    background-color: pink;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit] :hover
{
    background-color:pink;
    font-size: 40px;
}
.container6
{
    border-radius: 5px;
    padding: 20px;
}
.container7
{
    text-align: center;
}
.h6
{
    font-size: 50px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
/*Footer*/
footer
{
    font-size: 20px;
    background-image: url(images/head2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}